{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi admin - Index</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_admin/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>

  {% include 'ras_pi_admin/navbar.html' %}

  <div class="jumbotron col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Profiles (<a style="font-size: 14px;" href="{% url 'ras_pi_admin:profile_list_search' %}">View all/Search</a>)</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for profile in need_to_pay %}
            <li><a style="color:red;" href="{% url 'ras_pi_admin:profile_summary' profile_id=profile.id %}">{{profile}} ({{profile.balance}}$)</a></li>
          {% endfor %}
          {% for profile in profiles %}
            <li><a style="color:#ebebeb;" href="{% url 'ras_pi_admin:profile_summary' profile_id=profile.id %}">{{profile}} ({{profile.balance}}$)</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Products (<a style="font-size: 14px;" href="{% url 'ras_pi_admin:product_list_search' %}">View all/Search</a>)<a style="float:right;background-color:#4e5d6c;padding-left:3px;padding-right:3px;" href="{% url 'ras_pi_admin:new_product' %}">+</a></h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for product in need_to_restock %}
            <li><a style="color:red;" href="{% url 'ras_pi_admin:product_summary' product_id=product.id %}">{{product}} ({{product.in_stock}})</a></li>
          {% endfor %}
          {% for product in products %}
            <li><a style="color:#ebebeb;" href="{% url 'ras_pi_admin:product_summary' product_id=product.id %}">{{product}} ({{product.in_stock}})</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Sales (<a style="font-size: 14px;" href="{% url 'ras_pi_admin:sale_list' %}">View all</a>)</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for sale in sales %}
            <li>{{sale}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</body>

</html>
