<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'ras_pi_admin:index' %}">Ras pi admin</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'ras_pi_admin:profile_list_search' %}">Profiles</a></li>
        <li><a href="{% url 'ras_pi_admin:product_list_search' %}">Products</a></li>
        <li><a href="{% url 'admin:index' %}">App super admin</a></li>
      </ul>
    </div>
  </div>
</nav>
