{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi admin - New product</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_admin/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>

  {% include 'ras_pi_admin/navbar.html' %}

  <div class="jumbotron col-md-10 col-md-offset-1">
    <form action="{% url 'ras_pi_admin:new_product_post' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>New product</legend>
        <div class="form-group" style="margin-bottom:5%;">
          <label for="inputName" class="col-lg-2 control-label">Name:</label>
          <div class="col-lg-10">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
          </div>
        </div>
        <div class="form-group" style="margin-bottom:10%;">
          <label for="inputPrice" class="col-lg-2 control-label">Price:</label>
          <div class="col-lg-2">
            <input type="number" name="price" class="form-control" id="inputPrice" value="0" step="0.01" min="0">
          </div>
        </div>
        <div class="form-group" style="margin-bottom:15%;">
          <label for="inputInStock" class="col-lg-2 control-label">Value in stock:</label>
          <div class="col-lg-2">
            <input type="number" name="stock" class="form-control" id="inputInStick" value="0" min="0">
          </div>
        </div>
        <div>
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-danger" type="reset" id="cancel">Cancel</button>
            <button class="btn btn-success" type="submit" id="ok">OK</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</body>

</html>
