{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi admin - Product summary</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_admin/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>

  {% include 'ras_pi_admin/navbar.html' %}

  <div class="jumbotron col-md-10 col-md-offset-1">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{product.name}}</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for sale in sales %}
          <li>{{sale}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <form action="{% url 'ras_pi_admin:restock' %}" name="restock_form" method="post">
      {% csrf_token %}
      <div class="form-group col-md-4">
        <label class="control-label">Restock</label>
        <div class="input-group">
          <input type="number" name="new_stock" class="form-control" value="{{product.in_stock}}" min="0">
          <span class="input-group-btn">
            <input type="hidden" name="product_id" value="{{product.id}}">
        <button class="btn btn-success" type="submit">Change</button>
      </span>
        </div>
      </div>
    </form>
    <form action="{% url 'ras_pi_admin:change_price' %}" name="change_price_form" method="post">
      {% csrf_token %}
      <div class="form-group col-md-4">
        <label class="control-label">Change price</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" name="new_price" class="form-control" value="{{product.price}}" step="0.01" min="0">
          <span class="input-group-btn">
            <input type="hidden" name="product_id" value="{{product.id}}">
        <button class="btn btn-success" type="submit">Change</button>
      </span>
        </div>
      </div>
    </form>

  </div>
</body>

</html>
