{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi admin - Profile Summary</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_admin/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>

  {% include 'ras_pi_admin/navbar.html' %}

  <div class="jumbotron col-md-10 col-md-offset-1">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{profile.user}}</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Email:
            <a href="mailto:{{profile.user.email}}?subject=Bill for drinks&body=Your balance is: {{profile.balance}}$.%0D%0APay it to ________ ________%0D%0A%0D%0AThanks%0D%0AThe administration">
              {{profile.user.email}}
            </a>
          </li>
          <li>Name: {{profile.user.first_name}} {{profile.user.last_name}}</li>
          <li>Balance: {{profile.balance}}$</li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Sales</h3>
              </div>
              <div class="panel-body">
                <ul>
                  {% for sale in sales %}
                  <li>{{sale}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <form action="{% url 'ras_pi_admin:pay_balance' %}" name="pay_balance_form" method="post">
      {% csrf_token %}
      <div class="form-group col-md-4">
        <label class="control-label">Pay balance</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" name="paid" class="form-control" value="{{profile.balance}}" step="0.01" min="0" max="{{profile.balance}}">
          <span class="input-group-btn">
            <input type="hidden" name="profile_id" value="{{profile.id}}">
        <button class="btn btn-success" type="submit">Pay</button>
      </span>
        </div>
      </div>
    </form>

  </div>
</body>

</html>
