{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi admin - Profiles search</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_admin/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>

  {% include 'ras_pi_admin/navbar.html' %}

  <div class="jumbotron col-md-10 col-md-offset-1">

    <form action="{% url 'ras_pi_admin:profile_list_search_post' %}" name="search_profile_form" method="post">
      {% csrf_token %}
      <div class="form-group">
        <div class="input-group">
          <input type="text" name="search_term" class="form-control" placeholder="search by username" {% if search_term %}value="{{search_term}}"{% endif %}>
          <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Search</button>
      </span>
        </div>
      </div>
    </form>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Profiles</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for profile in profiles %}
            <li><a style="color:#ebebeb;" href="{% url 'ras_pi_admin:profile_summary' profile_id=profile.id %}">{{profile}} ({{profile.balance}}$)</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</body>

</html>
