{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi admin - Sales search</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_admin/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>

  {% include 'ras_pi_admin/navbar.html' %}

  <div class="jumbotron col-md-10 col-md-offset-1">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sales</h3>
      </div>
      <div class="panel-body">
        <ul>
          {% for sale in sales %}
            <li>{{sale}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</body>

</html>
