#weather_api, #taken_picture, #register_form, #profile_picture {
	background-color: #c4c5c6;
	width: 300px;
	height: 225px;
	margin-bottom: 3%;
}

#product_selector option {
	font-size: 30px;
}

.aws_desc li {
	font-size: 12px;
	margin: 1% 0 0 0;
}

.aws_desc {
	font-size: 13px;
	text-align: left;
	padding: 1% 0 0 0;
}

.text_center {
	text-align: center;
	margin-top: 0;
	margin-bottom: 2.5%;
}

#weather_img {
	width: 80px;
	height: 60px;
}

.color_black {
	color: black;
}

.register_input {
	padding: 0 0 0 0;
}

.inner_center {
	margin: 0 auto;
}

html {
	height: 100%;
	width: 100%;
}

#content {
		margin: 5% 0 0 0;
		text-align: center;
}

#content_register {
	margin: 0 0 0 0;
	text-align: center;
}

ul {
	list-style: none;
	color: white;
	margin: 0;
	padding: 3% 0 0 0;
}

li {
	margin: 3% 0 0 0;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

#ok {
		background-color: #4CAF50;
}

#cancel {
		background-color: #f44336;
}

select, input {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

.chart {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#loader-cover-bg {
  width: 100%; height: 100%; margin: 0em;
  left: 0em;
  top: 0em;
  background: rgba(186, 186, 186, 0.5);
  position: fixed;
}

#loader {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-top: 16px solid #325d88; /* blue */
    border-right: 16px solid #3e3f3a; /* grey */
    border-bottom: 16px solid #325d88;
    border-left: 16px solid #3e3f3a;

    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
