{% load static %}
<!doctype html>
<html>
	<head>
		<title>Authentification réussite</title>
		<link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/bootstrap.min.css' %}">
		<link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
	</head>
	<body>
		<div id="content">
				<div class="inner_center">
					<div class="col-md-6 col-sm-6">
						<img id="taken_picture" src="{% static 'ras_pi_ui/face_picture.jpg' %}" alt="taken picture" />
					</div>
					<div style="height: 238.8px;" class="col-md-6 col-sm-6">
						<ul class="aws_desc">
							{% for line in desc %}
								<li>{{ line }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<h2 class="text_center">{{ f_name }} {{ l_name }}</h2>
				<div class="alert alert-dismissible alert-success">
  				<strong>Wow!</strong> La reconnaissance faciale vous a reconnu.<br>
				</div>

				<div id="item_selection_control">
					<form action="{% url 'ras_pi_ui:profile_summary' %}" name="purchaseForm" method="post">
            {% csrf_token %}
						{% if items %}
							<select name="product_choice" id="product_selector">
								{% for item in items %}
									<option value="{{ item.id }}">{{ item.name }} ({{ item.in_stock }})</option>
								{% endfor %}
							</select>
						{% endif %}
						<button id="ok" type="submit">OK</button>
						<a class="btn btn-lg btn-danger" href="{% url 'ras_pi_ui:index' %}" style="vertical-align:top;">cancel</a>
					</form>
				</div>

		</div>
	</body>
</html>
