{% load static %}
<!doctype html>
<html>

<head>
  <title>Ras pi ui - Index</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/bootstrap.min.css' %}">
  <script src="{% static 'script/load_script.js' %}" defer></script>
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>
  <div id="content">
    <div class="alert alert-dismissible alert-info" {% if no_face %}style="display:none;"{% endif %}>
      <strong>Hey!</strong> Appuyer sur le bouton pour vous identifier!
    </div>
    {% if no_face %}
      <div class="alert alert-dismissible alert-danger">
        <strong>Oops!</strong> Il n'y avait pas de visage dans la photo. Veuillez réessayer!
      </div>
    {% endif %}

    <div id="weather_api" class="inner_center">
      <ul class="color_black">
        <li>{{weather_info.name}}, {{weather_info.country}}</li>
        <li><img id="weather_img" src="http://openweathermap.org/img/w/{{weather_info.img_id}}.png" alt="condition actuelle" title="current_condiction" /></li>
				<li>min/max: {{weather_info.min}} °C/{{weather_info.max}} °C</li>
        <li>{{weather_info.temp}} °C</li>
        <li>{{weather_info.desc}}</li>
      </ul>
    </div>
    <form action="{% url 'ras_pi_ui:picture_taking' %}" method="post">
      {% csrf_token %}
      <button id="ok" type="submit">Prendre la photo</button>
    </form>
  </div>
  <div id="loader-cover-bg" hidden>
    <div id="loader"></div>
  </div>
</body>

</html>
