{% load static %}
<!doctype html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/bootstrap.min.css' %}">
		<link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
	</head>
	<body>
		<div id="content_register">
			<div class="alert alert-dismissible alert-danger">
  			<strong>Oh snap!</strong> The facial recognition haven't recognize you, sign up!
				{% if error %}
					<br>
					<strong>Wrong Login!!!!</strong>
				{% endif %}
			</div>
      <!-- Add params to send -->
			<form class="form-horizontal" action="{% url 'ras_pi_ui:app_login_post' %}" method="post">
        {% csrf_token %}
  			<fieldset>
    			<legend>Login</legend>
					<div>
      			<label for="inputUsername" class="col-lg-2 control-label">Username</label>
      			<div>
        			<input type="text" class="form-control register_input" id="inputUsername" name="inputUsername" placeholder="Username">
      			</div>
    			</div>
    			<div>
      			<label for="inputPassword" class="col-lg-2 control-label">Password</label>
      			<div>
        			<input type="password" class="form-control register_input" id="inputPassword" name="inputPassword" placeholder="Mot de passe">
      			</div>
    			</div>
    			<div>
      			<div class="col-lg-10 col-lg-offset-2">
        			<button type="reset" id="cancel">Cancel</button>
        			<button type="submit" id="ok">OK</button>
      			</div>
    			</div>
  			</fieldset>
			</form>
		</div>
	</body>
</html>
