{% load static %}
<!doctype html>
<html>

<head>
  <title>Résumé de profile</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/bootstrap.min.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
</head>

<body>
  <div id="content">
    {% if profile %}
        <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2>
        <p>Produit: {{product.name}}</p>
        <p>Prix: {{product.price}}$</p>
        <p>Balance: {{profile.balance}}$</p>
    {% endif %}
    <a href="{% url 'ras_pi_ui:index' %}" class="btn btn-success">Retourner à l'accueil</a>
  </div>
</body>

</html>
