{% load static %}
<!doctype html>
<html>
	<head>
		<title>Ras pi ui - Register</title>
		<link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'ras_pi_ui/bootstrap.min.css' %}">
		<link rel='shortcut icon' type='image/x-icon' href="{% static 'ras_pi_ui/favicon.ico' %}" />
	</head>
	<body>
		<div id="content_register">
			<div class="alert alert-dismissible alert-danger">
  			<strong>Oh snap!</strong> La reconnaissance faciale ne vous a pas reconnu, creez un compte!
			</div>
      <!-- Add params to send -->
			<form class="form-horizontal" action="{% url 'ras_pi_ui:register_post' %}" method="post">
        {% csrf_token %}
  			<fieldset>
    			<legend>Register</legend>
					<div style="margin-top:8%;">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div>
							<input type="text" class="form-control register_input" id="inputEmail" name="inputEmail" placeholder="me@lacapitale.com">
						</div>
					</div>
    			<div>
      			<div class="col-lg-10 col-lg-offset-2" style="margin-top:12%;">
							<a class="btn btn-lg btn-danger" href="{% url 'ras_pi_ui:index' %}" style="vertical-align:top;">cancel</a>
        			<button type="submit" id="ok">OK</button>
      			</div>
    			</div>
  			</fieldset>
			</form>
		</div>
	</body>
</html>
